/* color */
:root {
  --color-bg-primary: #f5f5f5;
  --color-bg-secondary: #f5f4fa;
  --color-bg-additional: #ffffff;
  --color-bg-theme-dark: #2f303a;

  --color-accent: #2196f3;

  --color-text-theme-dark: #ffffff;
  --color-logo-header: #000000;
  --color-text: #757575;
  --color-nav-and-title: #212121;
  --color-contacts-footer: rgba(255, 255, 255, 0.6);
  --font-family-primary: "Roboto", sans-serif;
  --font-family-secondary: "Raleway", sans-serif;
}
ul {
  list-style: none;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text);

  font-family: var(--font-family-primary);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
  color: inherit;
}
.page {
  background-color: var(--color-bg-additional);
}
.page-nav .link {
  color: var(--color-nav-and-title);
}
.page-nav,
.contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.page-nav .link.current {
  color: var(--color-accent);
}

.logo {
  color: var(--color-logo-header);

  font-family: var(--font-family-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.hero {
  background: var(--color-bg-theme-dark);
  color: var(--color-text-theme-dark);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
}
.btn-secondary {
  background-color: var(--color-bg-secondary);
  color: var(--color-nav-and-title);
}
.btn-primary {
  background-color: var(--color-accent);
  color: var(--color-text-theme-dark);
}
.btn-hero {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  /* display: flex; */
  /* align-items: center; */
}
/* сховати логічні заголовки, вдсутні на макеті */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.team {
  background-color: var(--color-bg-secondary);
}
.team-list > li,
.portfolio-galery > li {
  background-color: var(--color-bg-additional);
}
.section-title,
.title {
  color: var(--color-nav-and-title);
}
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.title {
  /* як заголовок наслідує коф з браузера десь 16 */
  font-size: 14px;
  line-height: 1.14;
}
.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.page-footer {
  background: var(--color-bg-theme-dark);
  color: var(--color-text-theme-dark);
}
.page-footer .link {
  color: inherit;

  font-style: normal;
}
.page-footer .contact {
  color: var(--color-contacts-footer);
}

.portfolio-galery {
  font-size: 16px;
  line-height: 1.88;
}
.portfolio-galery .title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.btn.secondary {
  background-color: var(--color-bg-secondary);
  color: var(--color-nav-and-title);
}
.btn.primary {
  background-color: var(--color-accent);
  color: var(--color-text-theme-dark);
}

.accent,
.page-nav :hover,
.page-nav :focus,
.contact:hover,
.contact:focus {
  color: var(--color-accent);
}
