/* color */
:root {
  --color-bg-primary: #f5f5f5;
  --color-bg-secondary: #f5f4fa;
  --color-bg-black: #2f303a;
  --color-white: #ffffff;
  --color-accent: #2196f3;
  --color-logo-header: #000000;
  /* --color-logo-footer: var(--color-white); */
  --color-text: #757575;
  --color-nav-and-title: #212121;

  --color-contacts-footer: rgba(255, 255, 255, 0.6);
}
ul {
  list-style: none;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
}
.header {
  background-color: var(--color-white);
}
.header-nav .link {
  color: var(--color-nav-and-title);
}

.logo {
  color: var(--color-logo-header);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.header-contacts .link {
  color: var(--color-text);
}

.hero {
  background: var(--color-bg-black);
}

.team {
  background-color: var(--color-bg-secondary);
}
.team-list > li {
  background-color: var(--color-white);
}
.hero-title {
  color: var(--color-white);
}
.hero-button {
  background-color: var(--color-accent);
  color: var(--color-white);
  cursor: pointer;
}

.section-title,
.title {
  color: var(--color-nav-and-title);
  font-weight: 700;
}
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.footer {
  background: var(--color-bg-black);
  color: var(--color-white);
}
.footer .link {
  color: var(--color-white);
}
.footer-contacts {
  color: var(--color-contacts-footer);
}
.accent,
.header-nav :hover,
.header-nav :focus,
.header-contacts :hover,
.header-contacts :focus,
.address :hover,
.address :focus {
  color: var(--color-accent);
}
